

      <p>
        <b>product_id:</b><br>
        <%=editablefieldcreate("product_id", @product_detail)%>
      </p>



      <p>
        <b>inventory_key:</b><br>
        <%=editablefieldcreate("inventory_key", @product_detail)%>
      </p>



      <p>
        <b>size:</b><br>
        <%=editablefieldcreate("size", @product_detail)%>
      </p>



      <p>
        <b>color:</b><br>
        <%=editablefieldcreate("color", @product_detail)%>
      </p>



      <p>
        <b>units_in_stock:</b><br>
        <%=editablefieldcreate("units_in_stock", @product_detail)%>
      </p>



      <p>
        <b>units_on_order:</b><br>
        <%=editablefieldcreate("units_on_order", @product_detail)%>
      </p>



      