

      <p>
        <b>importer_id:</b><br>
        <%=editablefieldcreate("importer_id", @importer_item)%>
      </p>



      <p>
        <b>from_column:</b><br>
        <%=editablefieldcreate("from_column", @importer_item)%>
      </p>



      <p>
        <b>from_column_name:</b><br>
        <%=editablefieldcreate("from_column_name", @importer_item)%>
      </p>



      <p>
        <b>to_column:</b><br>
        <%=editablefieldcreate("to_column", @importer_item)%>
      </p>



      <p>
        <b>to_column_name:</b><br>
        <%=editablefieldcreate("to_column_name", @importer_item)%>
      </p>


      