<div class="myaccountblock">
  <div align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>

  <div id="site-pref-list">
    <h1  class="myaccountheader">Importer item</h1>

    <center><%= link_to 'New Importer item', :action=>:create_empty_record,:typeofrecord=>"importer_item" %></center>

    <%  @importer_items.each do |importer_item| %>
      <div class="hr"></div>
      <table width ="100%"cellpadding="5" cellspacing="0">
        <tr class="list-table" valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>"  onclick = "window.location.href ='<%=url_for(:controller => 'importer_items', :id => importer_item.id,  :action => 'edit')%>' "  style = "cursor:pointer" >
                      <td align="left">
    <span class="list-title"><%= importer_item.importer_id %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= importer_item.from_column %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= importer_item.from_column_name %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= importer_item.to_column %></span>
          </td>
                   <td align="left">
    <span class="list-title"><%= importer_item.to_column_name %></span>
          </td>
          
        </tr>
      </table>
      <div align="right" class="image-delete-list" >
        <%=link_to image_tag("Button-Delete.png", :border=>"0") , importer_item,:on_click=>"", :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
    <div class="hr"></div>

  </div>
    <center><%= link_to 'New Importer item', :action=>:create_empty_record,:typeofrecord=>"importer_item" %></center>
</div>
