<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @order.user_id %>
</p>

<p>
  <b>Credit card type:</b>
  <%= @order.credit_card_type %>
</p>

<p>
  <b>Credit card expires:</b>
  <%= @order.credit_card_expires %>
</p>

<p>
  <b>Ip address:</b>
  <%= @order.ip_address %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>