<div class="myaccountblock">
  <div align="center">
    <!-- START:flash -->
    <% if flash[:notice] -%>
      <div id="notice"><%= flash[:notice] %></div>
    <% end -%>
    <!-- END:flash -->
  </div>

  <div id="site-pref-list">
    <h1  class="myaccountheader">Site Pages</h1>

    <center><%= link_to 'New Page', :action=>:create_empty_record,:typeofrecord=>"Page" %></center>

    <% @pages.each do |page| %>
      <div class="hr"></div>
      <table width ="100%"cellpadding="5" cellspacing="0">
        <tr class="list-table" valign="top" class="<%= cycle('list-line-odd', 'list-line-even') %>"  onclick = "window.location.href ='<%=url_for(:controller => 'pages', :id => page.id,  :action => 'edit')%>' "  style = "cursor:pointer" >
          <td align="left">
            <span class="list-title"><%=h page.title %></span><br />
            <span class="list-description"><%=h (page.body.gsub(/<.*?>/,'').truncate(100)) %></span>
          </td>
        </tr>
      </table>
      <div align="right" class="image-delete-list" >
        <%=link_to image_tag ("interface/Button-Delete.png", :border=>"0") , page,:on_click=>"", :confirm => 'Are you sure?', :method => :delete %>
      </div>
    <% end %>
    <div class="hr"></div>

  </div>
    <center><%= link_to 'New Page', :action=>:create_empty_record,:typeofrecord=>"Page" %></center>
</div>