

      <p>
        <b>order_id:</b><br>
        <%=editablefieldcreate("order_id", @order_item)%>
      </p>



      <p>
        <b>product_id:</b><br>
        <%=editablefieldcreate("product_id", @order_item)%>
      </p>



      <p>
        <b>price:</b><br>
        <%=editablefieldcreate("price", @order_item)%>
      </p>



      <p>
        <b>quantity:</b><br>
        <%=editablefieldcreate("quantity", @order_item)%>
      </p>



      <p>
        <b>discount:</b><br>
        <%=editablefieldcreate("discount", @order_item)%>
      </p>



      <p>
        <b>size:</b><br>
        <%=editablefieldcreate("size", @order_item)%>
      </p>



      <p>
        <b>color:</b><br>
        <%=editablefieldcreate("color", @order_item)%>
      </p>



      <p>
        <b>shipped:</b><br>
        <%=editablefieldcreate("shipped", @order_item)%>
      </p>



      <p>
        <b>shipped_date:</b><br>
        <%=editablefieldcreate("shipped_date", @order_item)%>
      </p>


      