<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @order_item.order_id %>
</p>

<p>
  <b>Product:</b>
  <%= @order_item.product_id %>
</p>

<p>
  <b>Price:</b>
  <%= @order_item.price %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order_item.quantity %>
</p>

<p>
  <b>Discount:</b>
  <%= @order_item.discount %>
</p>

<p>
  <b>Size:</b>
  <%= @order_item.size %>
</p>

<p>
  <b>Color:</b>
  <%= @order_item.color %>
</p>

<p>
  <b>Shipped:</b>
  <%= @order_item.shipped %>
</p>

<p>
  <b>Shipped date:</b>
  <%= @order_item.shipped_date %>
</p>


<%= link_to 'Edit', edit_order_item_path(@order_item) %> |
<%= link_to 'Back', order_items_path %>