

      <p>
        <b>supplier_name:</b><br>
        <%=editablefieldcreate("supplier_name", @supplier)%>
      </p>



      <p>
        <b>contact_name:</b><br>
        <%=editablefieldcreate("contact_name", @supplier)%>
      </p>



      <p>
        <b>address_1:</b><br>
        <%=editablefieldcreate("address_1", @supplier)%>
      </p>



      <p>
        <b>address_2:</b><br>
        <%=editablefieldcreate("address_2", @supplier)%>
      </p>



      <p>
        <b>city:</b><br>
        <%=editablefieldcreate("city", @supplier)%>
      </p>



      <p>
        <b>state:</b><br>
        <%=editablefieldcreate("state", @supplier)%>
      </p>



      <p>
        <b>zip_code:</b><br>
        <%=editablefieldcreate("zip_code", @supplier)%>
      </p>



      <p>
        <b>country:</b><br>
        <%=editablefieldcreate("country", @supplier)%>
      </p>



      <p>
        <b>phone_number:</b><br>
        <%=editablefieldcreate("phone_number", @supplier)%>
      </p>



      <p>
        <b>fax_number:</b><br>
        <%=editablefieldcreate("fax_number", @supplier)%>
      </p>



      <p>
        <b>email_address:</b><br>
        <%=editablefieldcreate("email_address", @supplier)%>
      </p>



      <p>
        <b>web_site:</b><br>
        <%=editablefieldcreate("web_site", @supplier)%>
      </p>


      