<!-- ujs_example.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>UJS Example</title>
    <%#*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript" charset="utf-8"></script>%>
     <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag 'jquery.js', 'jquery-ui.js' %>
  <%= controller_javascript_include_tag  %>
  
  </head>
  <body>
              <%= yield %>
  </body>
</html>
